.mat-table{
    width: 100%;
}
.form-cadastro{
    min-width: 500;
    width: 100%;
}

.form-input{
    min-width: 300px;
    width: 48%;
    padding: 1%;
}

.form-input-nome{
    min-width: 300px;
    width: 98%;
    padding: 1%;
}
