<header class="banner">
    <div>
        <h1>Lorem Ipsum dolor sit amet</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum laoreet vehicula. Morbi tristique fringilla congue.</p>
    </div>
</header>

<div class="content">
    <mat-card class="artigo1">
    <h2>
     Lorem Ipsum
    </h2>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum laoreet vehicula. Morbi tristique fringilla congue. Pellentesque scelerisque sem sapien, vitae interdum neque tempus in. Donec in arcu nisi. Pellentesque dignissim ligula sed lectus suscipit rhoncus. Ut fringilla dolor sit amet ipsum euismod finibus. Nam sit amet placerat neque. Aliquam dignissim vulputate mi at tempor. Curabitur pretium, quam nec pellentesque pellentesque, urna ante lobortis nibh, sit amet posuere tellus massa quis tellus. Pellentesque ullamcorper vitae orci eu convallis. Sed ut sapien commodo libero aliquet rutrum id et lacus. Sed ultrices id orci id efficitur. Sed dapibus elementum odio a porta 
    </p>
    </mat-card>
<mat-card class="artigo2">
    <h2>
        Lorem Ipsum
    </h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec bibendum laoreet vehicula. Morbi tristique fringilla congue. Pellentesque scelerisque sem sapien, vitae interdum neque tempus in. Donec in arcu nisi. Pellentesque dignissim ligula sed lectus suscipit rhoncus. Ut fringilla dolor sit amet ipsum euismod finibus. Nam sit amet placerat neque. Aliquam dignissim vulputate mi at tempor. Curabitur pretium, quam nec pellentesque pellentesque, urna ante lobortis nibh, sit amet posuere tellus massa quis tellus. Pellentesque ullamcorper vitae orci eu convallis. Sed ut sapien commodo libero aliquet rutrum id et lacus. Sed ultrices id orci id efficitur. Sed dapibus elementum odio a porta 
    </p>
</mat-card>
<div class="clear"></div>
</div>
